<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="tab-poss">
      <div class="first-comp">
        <a class="footer-logo" href="./index.html">
          <svg class="footer-logo-icon">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="address">
          <ul class="address-list">
            <li class="address-item footer-text">
              <a href="tel:+380665438912" target="_blank" rel="noopener"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="address-item footer-text">
              <a
                href="https://www.google.com/maps/place/київ"
                target="_blank"
                rel="noopener"
                >Ukraine, Kyiv</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-online">
        <ul class="footer-soc-list">
          <li class="footer-soc-item texta">
            <a
              class="footer-soc-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener"
              >Instagram</a
            >
          </li>
          <li class="footer-soc-item texta">
            <a
              class="footer-soc-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener"
              >Facebook</a
            >
          </li>
          <li class="footer-soc-item texta">
            <a
              class="footer-soc-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener"
              >Youtube</a
            >
          </li>
        </ul>
        <nav class="footer-navigation">
          <ul class="footer-menu-list">
            <li class="footer-menu-item texta">
              <a class="footer-menu-link" href="#sec-about-us">About us</a>
            </li>
            <li class="footer-menu-item texta">
              <a class="footer-menu-link" href="#our-courses">Our courses</a>
            </li>
            <li class="footer-menu-item texta">
              <a class="footer-menu-link" href="#mentors-id">Our mentors</a>
            </li>
            <li class="footer-menu-item texta">
              <a class="footer-menu-link" href="#reviews-id">Reviews</a>
            </li>
            <li class="footer-menu-item texta">
              <a class="footer-menu-link" href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="contacts" id="contacts">
        <form class="form-footer" id="contact-form">
          <input
            class="footer-input"
            type="email"
            placeholder="Enter your email"
            id="email"
            name="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            title="Please enter your email"
          />
          <button class="footer-btn" type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="com-info">
      <p class="text1 footer-text">
        Privacy Policy <br />
        Public Offering Agreemen
      </p>
      <p class="text2 footer-text">
        2023 Focus Frame <br />
        <span class="copyright">&#169;</span> All rights reserved
      </p>
    </div>
  </div>
</footer>
