<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-item-link header-aft" href="">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="">Our courses</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="">Our mentors</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-buttons">
      <button type="button" class="header-bigscreen-btn">Sign up</button>

      <button type="button" class="header-btn-camera">
        <svg class="header-btn-camera-icon" width="16" height="16">
          <use href="/img/icons.svg#icon-header_bi_camera-fill"></use>
        </svg>
      </button>

      <button type="button" class="header-open-btn">
        <svg class="header-open-btn-icon" width="32" height="22">
          <use href="/img/icons.svg#icon-header-Nav"></use>
        </svg>
      </button>
    </div>
  </div>

  <!--For is-open below-->
  <div class="header-mob-menu">
    <div>
      <button type="button" class="header-mob-btn">
        <svg class="mob-btn-icon" width="20" height="20">
          <use href="/img/icons.svg#icon-header_x"></use>
        </svg>
      </button>

      <ul class="mob-menu">
        <li class="mob-menu-item">
          <a class="mob-menu-item-link" href="">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-item-link" href="">Our courses</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-item-link" href="">Our mentors</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-item-link" href="">Reviews</a>
        </li>

        <li class="mob-menu-item">
          <a class="mob-menu-item-link" href="">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
