<section class="hero-section container">
  <h1 class="hero-title">
    Discover the magic of <span class="hero-title-span">photography</span> in
    our school
  </h1>
  <p class="hero-text">
    Our photography school offers an unforgettable journey, where you can learn
    the basics of composition, master technical skills, translate your unique
    ideas.
  </p>
  <div class="hero-students-reviews">
    <ul class="hero-list">
      <li class="hero-item">
        <picture>
          <source
            srcset="
              ../img/hero/hero-img-1.png 1x,
              ../img/hero/hero-img-1.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-1-tab.png 1x,
              ../img/hero/hero-img-1-tab.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-1-mob.png 1x,
              ../img/hero/hero-img-1-mob.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="../img/hero/hero-img-1.png"
            alt="Caitlyn King"
            width="44"
            height="44"
            class="hero-card"
          />
        </picture>
      </li>
      <li class="hero-item">
        <picture>
          <source
            srcset="
              ../img/hero/hero-img-2.png 1x,
              ../img/hero/hero-img-2.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-2-tab.png 1x,
              ../img/hero/hero-img-2-tab.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-2-mob.png 1x,
              ../img/hero/hero-img-2-mob.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="../img/hero/hero-img-2.png "
            alt="Jordan Burgess"
            width="44"
            height="44"
            class="hero-card"
          />
        </picture>
      </li>
      <li class="hero-item">
        <picture>
          <source
            srcset="
              ../img/hero/hero-img-3.png 1x,
              ../img/hero/hero-img-3.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-3-tab.png 1x,
              ../img/hero/hero-img-3-tab.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../img/hero/hero-img-3-mob.png 1x,
              ../img/hero/hero-img-3-mob.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="../img/hero/hero-img-3.png "
            alt="Adriana O'Sullivan"
            width="44"
            height="44"
            class="hero-card"
          />
        </picture>
      </li>
    </ul>
    <a href="#reviews">Our happy students</a>
    <svg class="hero-arrow">
      <use></use>
    </svg>

    <div class="hero-reviews">
      <svg class="hero-star">
        <use></use>
      </svg>
      <p>Reviews</p>
      <p>+1500</p>
    </div>
  </div>
  <picture>
    <source
      srcset="../img/hero/hero-main.png 1x, ../img/hero/hero-main.png 2x"
      media="(min-width:1280px)"
    />
    <source
      srcset="
        ../img/hero/hero-main-tab.png 1x,
        ../img/hero/hero-main-tab.png 2x
      "
      media="(min-width:768px)"
    />
    <source
      srcset="
        ../img/hero/hero-main-mob.png 1x,
        ../img/hero/hero-main-mob.png 2x
      "
      media="(max-width:767px)"
    />
    <img
      src="../img/hero/hero-main.png "
      alt="Caitlyn King"
      width="259"
      height="314"
      class="hero-main-card"
    />
  </picture>
</section>
