<section class="our-courses">
  <div class="container our-courses__container">
    <div class="our-courses__title-box">
      <h2 class="our-courses__title">
        Our <span class="our-courses__title-accent">Courses</span>
      </h2>
      <p class="our-courses__text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="our-courses__list">
      <li class="our-courses__item">
        <div class="our-courses__card-upper">
          <span class="our-courses__card-upper-number">01</span>
          <a href="#signup" class="our-courses__card-upper-link">
            <svg
              class="our-courses__card-upper-link-icon"
              width="20"
              height="20"
            >
              <use href="../img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <div class="our-courses__card-text">
          <h3 class="our-courses__card-text-title">Basics of photography</h3>
          <p class="our-courses__card-text-subtitle">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </div>
      </li>
      <li class="our-courses__item">
        <div class="our-courses__card-upper">
          <span class="our-courses__card-upper-number">02</span>
          <a href="#signup" class="our-courses__card-upper-link">
            <svg
              class="our-courses__card-upper-link-icon"
              width="20"
              height="20"
            >
              <use href="../img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <div class="our-courses__card-text">
          <h3 class="our-courses__card-text-title">Landscape photography</h3>
          <p class="our-courses__card-text-subtitle">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </div>
      </li>
      <li class="our-courses__item">
        <div class="our-courses__card-upper">
          <span class="our-courses__card-upper-number">03</span>
          <a href="#signup" class="our-courses__card-upper-link">
            <svg
              class="our-courses__card-upper-link-icon"
              width="20"
              height="20"
            >
              <use href="../img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <div class="our-courses__card-text">
          <h3 class="our-courses__card-text-title">Portrait photography</h3>
          <p class="our-courses__card-text-subtitle">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
