<section class="sign-up" id="signup">
    <div class="container sign-up-container">
        <div class="sign-up-modal">
            <h2 class="sign-up-titel">Sign <span class="sign-up-titel-item">Up</span></h2>
            <p class="sign-up-modal-par">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
            <form class="sign-up-modal-form">
                <div class="sign-up-modal-form-field">
                    <input type="text" name="user-name" class="sign-up-form-input" id="user-name"
                        placeholder="Enter your name" />
                </div>
                <div class="sign-up-modal-form-field">
                    <input type="email" name="user-email" class="sign-up-form-input" id="user-email"
                        placeholder="Enter your email" />
                </div>
                <div class="sign-up-form-coment-container">
                    <textarea name="user-comment" class="sign-up-modal-form-textarea" id="user-comment"
                        placeholder="Message"></textarea>
                </div>
                <button type="submit" class="sign-up-modal-button">Send</button>
                <p class="sign-up-aft-btn-text">By clicking on “Send” button, you agree to our<a href=""
                        class="sign-up-aft-btn-text-link"> Privacy Policy,</a><br>
                    and allow Promodo to use this information for marketing purposes.</p>
            </form>
        </div>
        <div>
            <ul class="camera-list">
                <li class="lens">
                    <picture>
                        <source srcset="./img/lens-big.webp 1x, ./img/lens-big-2x.webp 2x" media="(min-width: 1440px)"
                            type="image/webp">
                        <source srcset="./img/lens.webp 1x, ./img/lens-2x.webp 2x" media="(min-width: 1280px)"
                            type="image/webp">
                        <img class="lens-img" src="./img/sign-up/lens.png" width="200" alt="lens">
                    </picture>
                </li>
                <li class="camera">
                    <picture>
                        <source srcset="./img/sign-up/camera-big.webp 1x, ./img/sign-up/camera-big-2x.webp 2x"
                            media="(min-width: 1440px)" type="image/webp">
                        <source srcset="./img/sign-up/camera1.webp 1x, ./img/sign-up/camera-2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <img class="camera-img" src="./img/camera.png" alt="camera">
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>