.section-abtus {
  padding-top: 80px;
}
.abtus-sec-cont {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.abus-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.abus-span {
  color: #bea69e;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.sec-abtus-cont-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec-abtus-txt {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

/* !!!!!!!!!!!!!!!tablet!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) {
  .abtus-img {
    border-radius: 1000px;
    flex-basis: 100%;
  }
  .abus-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
  }
  .abus-span {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
  }
  .section-abtus {
    padding-top: 100px;
  }
  .abtus-sec-cont {
    gap: 50px;
  }
  .sec-abtus-txt {
    font-size: 16px;
  }
  .sec-abtus-cont-ul {
    width: 600px;
    flex-direction: row;
    gap: 40px;
  }
  .abtus-cont-p {
    width: calc((100% - 40px) / 2);
    height: 280px;
  }
  
}
/*!!!!!!!!!!!!!desktop!!!!!!!!!!!!!!*/
@media screen and (min-width: 1280px) {
  .section-abtus {
    padding-top: 150px;
  }
  .abus-title {
    font-size: 48px;
  }
  .abus-span {
    font-size: 48px;
  }
  .abtus-sec-cont {
    flex-direction: row;
    gap: 40px;
  }
  .abtus-img {
    border-radius: 1000px;
    flex-basis: 488px;
  }
  .sec-abtus-cont-ul {
    width: 552px;
    flex-direction: row;
    gap: 20px;
  }
  .abtus-cont-p {
    width: calc((100% - 20px) / 2);
    height: 260px;
  }
  .sec-abtus-txt {
    font-size: 16px;
  }
}
/* !!!!!!!!!!!!!!!!desk1440px!!!!!!!!!!!!! */
@media screen and (min-width: 1440px) {
  .section-abtus {
    padding-top: 150px;
  }
  .abtus-img {
    border-radius: 1000px;
    min-width: 560px;
  }
  .abus-title {
    font-size: 48px;
  }
  .abus-span {
    font-size: 48px;
  }
  .sec-abtus-txt {
    font-size: 16px;
  }
  .sec-abtus-cont-ul {
    height: 240px;
    gap: 40px;
    flex-direction: row;
  }
  .abtus-sec-cont {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }

  .ones {
    min-width: 314px;
  }
  .seconds {
    min-width: 276px;
  }
}
