.section-abtus {
  width: 335px;
  padding-top: 80px;
}
.abtus-sec-cont {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.abus-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
  margin-bottom: 40px;
}
.abus-span {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}

.abtus-img {
  display: block;
  width: 100%;
}
.sec-abtus-cont-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sec-abtus-txt {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

/* !!!!!!!!!!!!!!!tablet!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
  .dd {
    width: 704px;
  }
  .abtus-img {
    border-radius: 1000px;
    max-width: 100%;
  }
  .abus-title {
    color: #fff;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
    margin-bottom: 50px;
  }
  .abus-span {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
  .section-abtus {
    width: 704px;
    padding-top: 100px;
  }
  .abtus-sec-cont {
    gap: 50px;
  }
  .abtus-cont-p {
    width: 280px;
  }

  .sec-abtus-txt {
    color: var(--white, #fff);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
  .sec-abtus-cont-ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
/*!!!!!!!!!!!!!desktop!!!!!!!!!!!!!!*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .sec-abtus-txt {
    width: 268px;
  }
  .section-abtus {
    width: 1080px;
    padding-top: 150px;
  }
  .abtus-img {
    border-radius: 1000px;
    width: 100%;
    display: block;
  }
  .abus-title {
    color: #fff;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px; /* 112.5% */
    letter-spacing: -1.92px;
  }
  .abus-span {
    color: #bea69e;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -1.92px;
  }
  .sec-abtus-txt {
    color: var(--white, #fff);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.32px;
  }
  .sec-abtus-cont-ul {
    gap: 20px;
    flex-direction: row;
  }
  .abtus-sec-cont {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}
