.advertisement {
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.marquee {
    color: #BEA69E;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.advertisement-span {
    color: #FFF;
}

.marquee__inner {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}

.marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .marquee {
        font-size: 40px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .marquee__line {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .marquee {
        font-size: 59px;
        line-height: 1.08;
        letter-spacing: -0.02em;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
    }
}