body {
  font-family: 'DM Sans', sans-serif;
  background-color: #121212;
  color:#FFF;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.graphic-wrap {
  background-image: url(/img/graphic-wrap/Graphic-mobile-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx)
{
 .graphic-wrap {
   background-image: url(/img/graphic-wrap/Graphic-mobile-2x.png);
       }
}


@media screen and (min-width: 768px) {
  .graphic-wrap {
    background-image: url(/img/graphic-wrap/Graphic-tablet-1x.png);
  }
  
  @media (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)
  {
   .graphic-wrap {
     background-image: url(/img/graphic-wrap/Graphic-tablet-2x.png);
         }
  }
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1280px) {
  .graphic-wrap {
    background-image: url(/img/graphic-wrap/Graphic-desktop-1x.png);
  }
  
  @media (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)
  {
   .graphic-wrap {
     background-image: url(/img/graphic-wrap/Graphic-desktop-2x.png);
         }
  }
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
}


 @media screen and (min-width: 1440px) {
  .graphic-wrap {
    background-image: url(/img/graphic-wrap/Graphic-1440-1x.png);
  }
  
  @media (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx)
  {
   .graphic-wrap {
     background-image: url(/img/graphic-wrap/Graphic-1440-2x.png);
         }
  }
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
}