.hero-section {
  border-radius: 30px;
  background-color: #1d1d1d;
  width: 335px;
  height: 777px;
}

.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  max-width: 295px;
}

.hero-title-span {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
}

.hero-text {
}
.hero-students-reviews {
}
.hero-list {
}
.hero-item {
}
.hero-card {
}
.hero-arrow {
}
.hero-reviews {
}

.hero-item-star {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: #bea69e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-icon-star {
  fill: #121212;
}
.hero-main-card {
}
@media screen and (min-width: 768px) {
  .hero-section {
    width: 704px;
    height: 900px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.07;
    max-width: 517px;
  }

  .hero-title-span {
    font-size: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    width: 1080px;
    height: 600px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.06;
    max-width: 563px;
  }

  .hero-title-span {
    font-size: 64px;
  }
}
