


.sign-up {
    padding-bottom: 80px;
}

.sign-up-container {
    display: flex;
    justify-content: center;
}



.sign-up-titel {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

.sign-up-titel-item {
    color: #BEA69E;
}

.sign-up-modal-par {
    color: #FFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 41px;
    width: 295px;
}



.sign-up-modal-form-field {
    margin-bottom: 8px;
}

.sign-up-form-input {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
    padding-left: 18px;
    width: 100%;
    height: 46px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.25;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-form-coment-container {
    margin-bottom: 40px;
}

.sign-up-modal-form-textarea {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    width: 100%;
    height: 112px;
    background-color: transparent;
    resize: none;
    padding-top: 14px;
    padding-left: 18px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.25;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-form-input:hover,
.sign-up-form-input:focus,
.sign-up-modal-form-textarea:hover,
.sign-up-modal-form-textarea:focus {
    border-color: rgba(255, 255, 255, 0.50);
}

.sign-up-modal-button {
    color: #121212;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    background: #FFF;
    display: flex;
    padding: 14px 127px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-modal-button:hover,
.sign-up-modal-button:focus {
    background-color: #1D1D1D;
    color: #BEA69E;
}

.sign-up-aft-btn-text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    line-height: 1.33;
    width: 100%;
}

.sign-up-aft-btn-text-link {
    text-decoration-line: underline;
}



.camera-list {
    display: none;
    gap: 20px;
    align-items: flex-end;
}

.camera {
    border-radius: 1000px;
    background-color: #1D1D1D;
    width: 340px;
    height: 540px;
    padding: 156px 50px 88px;
}

.lens {
    border-radius: 1000px;
    background-color: #BEA69E;
    width: 180px;
    height: 288px;
    padding-top: 76px;
    padding-bottom: 62px;

}

.lens-img {
    left: 50%;
    position: absolute;
    transform: translateX(-20%);
}


@media screen and (min-width:768px) {
    .sign-up {
        padding-bottom: 100px;
    }

    .sign-up-container {
        justify-content: start;
        padding-left: 0;
    }

    .container {
        max-width: 768px;

        padding-left: 32px;
    }

    .sign-up-modal {
        max-width: 480px;

    }

    .sign-up-titel {
        font-size: 48px;
        line-height: 1.13;
        letter-spacing: -0.04em;
    }

    .sign-up-modal-par {
        width: 100%;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .sign-up-modal-button {
        font-size: 18px;
        line-height: 1.56;
    }

    .sign-up-aft-btn-text {
        font-size: 14px;
        line-height: 1.29;
    }
}





@media screen and (min-width:1280px) {
    .sign-up {
        padding-bottom: 150px;
    }

    .container {
        max-width: 1280px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .camera-list {
        display: flex;
    }

    .sign-up-container {
        gap: 60px;
    }
}




@media screen and (min-width:1440px) {

    .sign-up-container {
        gap: 200px;
    }

    .container {
        min-width: 1240px;
        padding: 0;
    }

    .lens-img {
        transform: translateX(0);
    }

}